PORT=3000
GOOGLE_DRIVE_FOLDER_ID=13otZTM0T7GioHSn2hxQbc-A__X0H9H9k
GOOGLE_SERVICE_ACCOUNT_EMAIL=seu-service-account@seu-projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nCOLE_A_CHAVE_PRIVADA_AQUI\n-----END PRIVATE KEY-----\n"
AZURE_STORAGE_CONNECTION_STRING="BlobEndpoint=https://sua-conta.blob.core.windows.net/;SharedAccessSignature=sv=..."
AZURE_CONTAINER_NAME=aluno-gustavo
